<?xml version="1.0"?>
<ruleset>

	<file>.</file>

	<!-- Show progress and sniff codes in all reports. -->
	<arg value="ps"/>

	<!-- A path to strip from the front of file paths inside reports. -->
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>

	<!-- Check for PHP cross-version compatibility. -->
	<config name="testVersion" value="7.2-"/>
	<rule ref="WordPress-Core"/>

	<!-- WordPress coding standards. -->
	<rule ref="WordPress">
		<!-- Exclude as plugin adheres to the PSR-4 standard. -->
		<exclude name="WordPress.Files.FileName"/>
	</rule>

    <exclude-pattern>*/vendor/*</exclude-pattern>

</ruleset>
